/*Import Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*Resetando CSS*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*variáveis*/
:root{

    --page-background: #00030C;
    --button-background: #167BF7;
    --text-gray: #C0C0C0;
    --title-color: #EC2F46;
    --text-color: #fff;
    --inter: "Inter", sans-serif;

}

body{
    font-family: var(--inter);
    background-color: var(--page-background);
    color: var(--text-color);
}

/*Primeira Seção*/
.header-banner{
    background: url("../assets/Background.png") no-repeat;
    background-size: contain;
  }

.container{
    display: grid;
    grid-template-columns: 50% 50%;     
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container__flex{   
    margin: 0 6em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.container__titulo{
    font-size: 1.75rem;
    font-weight: 700;
}

.botao{
    text-decoration: none;
    color: var(--text-color);
    padding: 1em;
    border-radius: 8px;
    font-weight: 400;
    font-size: 1rem;    
    width: 85%;
    background-color: var(--button-background);
}


.container__botoes__combo{
    background-color: var(--button-background);
    border: none
}

.container__botoes__plus{
    border: 1px solid var(--text-color);
    background-color: transparent;
}

.container__aviso{
    color: var(--text-gray);
    font-size: 0.75rem;
}

/*Segunda e Terceira Seção*/

.container__conteudo{
    text-align: left;
    padding: 2em;
}

.secundario{
    margin: 0 10em;
}

.secundario__imagem{
    width: 80%;
}

.container__conteudo__titulo{
    font-size: 3rem;
    font-weight: 700;
}

.container__conteudo__texto{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-gray);


}

.secundario__botao{
    margin-top: 1em;
    display: inline-block;
    width: auto;
}

/*Quarta Section*/

.dispositivos{
    background-color: var(--page-background);
    text-align: center;
    padding-top: 1.5em;
}

.dispositivos__titulo{
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color)
}

.dispositivos__lista{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 6em 0 ;
}

.lista__item{
    font-size: 2rem;
    color: var(--text-color);
}

/*Footer*/

.rodape{
    background-color: var(--page-background);
    text-align: center;
    margin: 0 10em;
}

.rodape__lista{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 2em 0;
}

.rodape__conteudo{
    font-size: 0.87em;
    color: var(--text-gray);
    margin: 2em 0;
}

.rodape__lista__item > a{
    color: var(--text-color);
    text-decoration: none;
}

.rodape__lista__item > a:hover{
    color: var(--button-background)
}